/*
Colours used

*/

*{
    margin: 0;
    padding: 0;
}

body{ 
    font-size: 10px;
    height: 100%;
}

.header{
    background: #123C69;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
}

.main-heading{
    color: #AC3B61;
    font-size: 1.25rem;
    text-align: center;
}

.icon{
    color: #AC3B61;
    font-size: 1.4rem;
    margin: .25rem;
    padding: .5rem;
}

.main-container{
    background: #BAB2B5;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 75vh;
}

.instructions{
    display: flex;
    justify-content: center;
}

.info{
    font-size: 1.2rem;
    text-align: center;
}

.game-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.game-form{
    background-color: #AC3B61;
    border: 2px solid #AC3B61;
    border-radius: 10PX;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 2rem 1rem;
    width: 90%;
    flex: 1 1 0px;
}

.game-label{
    display: inline-block;
    font-size: 1.1rem;
    text-align: right;
}

.number-input{
    font-size: 1.25rem;
    margin-left: 1rem;
    padding: 1rem .5rem;
    text-align: center;
    width: 3rem;
}

.number-button{
    display: block;
    border-radius: 5px;
    font-size: 1.1rem;
    line-height: 2rem;
    padding: .25rem .5rem;
    margin: .5rem auto;
    width: 80%;
}

.guesses{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    min-height: 175px;
    padding: 1rem;
}

.guess-heading{
    align-self: center;
    font-size: 1.4rem;
}

.list-heading{
    font-size: 1.2rem;
    text-align: center;
}

.guess-lists{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;   
}

.low,
.high{
    flex: 1;
}

.list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-item{
    list-style: none;
    font-size: 1.1rem;
    text-align: center;
}

@media screen and (min-width: 600px){
    .game-form {
        width: 70%;
        margin: 0 auto;
    }

    .game-label{
        font-size: 1.6rem;
    }
    
    .number-input{
        font-size: 1.6rem;
        width: 3rem;
    }

    .number-button{
        width: 60%;
    }

    .guesses{
        width: 70%;
    }
}

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .icon{
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 850px){
    .main-container{
        justify-content: space-evenly;
    }

    .game-container{
        flex-direction: row-reverse;
        justify-content: flex-start;
        width: 100%;
    }

    .game-form{
        flex: 2 1;
        margin: 0 .5rem;
    }

    .number-input{
        width: 4.5rem;
    }

    .number-button{
        width: 50%;
    }

    .guesses{
        flex: min-content 1;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px){
    .game-container{
        width: 80%;
    }

    .game-form,
    .guesses{
        margin: 0 2rem;
    }
}