/*
Colours used
Deep Purple: #1d1145
Trapper Keeper Green: #0db4b9
Pink Boot: #f2a1a1
Modern Pink Backpack: #e76d89
*/

*{
    margin: 0;
    padding: 0;
}

body{ 
    font-size: 10px;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.main-heading{
    font-size: 1.25rem;
    text-align: center;
}

.icon{
    font-size: 1.4rem;
    margin: .25rem;
    padding: .5rem;
}

.main-container{
    height: 80vh;
    width: 90%;
    margin: 0 auto;
}

.instructions{
    display: flex;
    justify-content: center;
}

.info{
    font-size: 1.2rem;
    text-align: center;
}

.game-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 70vh;
    padding: 1rem;
}

.game-form{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.guesses{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    min-height: 100px;
}

.guess-heading{
    align-self: center;
}

.guess-lists{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;   
}

.low,
.high{
    flex: 1;
}

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .game-container{
        flex-direction: row;
    }

    .game-form{
        margin: 0 1rem;
    }
}