/*
Colours used
Deep Purple: #1d1145
Trapper Keeper Green: #0db4b9
Pink Boot: #f2a1a1
Modern Pink Backpack: #e76d89
*/

*{
    margin: 0;
    padding: 0;
}

body{ 
    font-size: 10px;
    height: 100%;
}
